.m-t-10 {
  margin-top: 10px;
}

.m-t-15 {
  margin-top: 15px;
}
.mt-5 {
    margin-top: 5px;
}
.mb-5 {
    margin-bottom: 5px;
}
.ml-5 {
    margin-left: 5px;
}
.mr-5 {
    margin-right: 5px;
}
.ma-5 {
    margin: 5px;
}

.mt-10 {
    margin-top: 10px;
}
.mb-10 {
    margin-bottom: 10px;
}
.ml-10 {
    margin-left: 10px;
}
.mr-10 {
    margin-right: 10px;
}
.ma-10 {
    margin: 10px;
}

.mt-15 {
    margin-top: 15px;
}
.mb-15 {
    margin-bottom: 15px;
}
.ml-15 {
    margin-left: 15px;
}
.mr-15 {
    margin-right: 15px;
}
.ma-15 {
    margin: 15px;
}

.mt-20 {
    margin-top: 20px;
}
.mb-20 {
    margin-bottom: 20px;
}
.ml-20 {
    margin-left: 20px;
}
.mr-20 {
    margin-right: 20px;
}
.ma-20 {
    margin: 20px;
}

.mt-30 {
    margin-top: 30px;
}
.mb-30 {
    margin-bottom: 30px;
}
.ml-30 {
    margin-left: 30px;
}
.mr-30 {
    margin-right: 30px;
}
.ma-30 {
    margin: 30px;
}

.p-0 {
    padding: 0;
}
.pt-5 {
    padding-top: 5px;
}
.pb-5 {
    padding-bottom: 5px;
}
.pl-5 {
    padding-left: 5px;
}
.pr-5 {
    padding-right: 5px;
}
.pa-2{
    padding: 2px !important;
}
.pa-5 {
    padding: 5px !important;
}

.pt-10 {
    padding-top: 10px;
}
.pb-10 {
    padding-bottom: 10px;
}
.pl-10 {
    padding-left: 10px;
}
.pr-10 {
    padding-right: 10px;
}
.pa-10 {
    padding: 10px;
}

.pt-15 {
    padding-top: 15px;
}
.pb-15 {
    padding-bottom: 15px;
}
.pl-15 {
    padding-left: 15px;
}
.pr-15 {
    padding-right: 15px;
}
.pa-15 {
    padding: 15px;
}

.pt-20 {
    padding-top: 20px;
}
.pb-20 {
    padding-bottom: 20px;
}
.pl-20 {
    padding-left: 20px;
}
.pr-20 {
    padding-right: 20px;
}
.pa-20 {
    padding: 20px;
}
.fw {
    width: 100%;
}
.table-borderless {
td {
    border: none !important;
}
}
.text-i {
    font-style: italic;
}

.bg-purple {
    background-color: #7e54a3;
}

.text-purple {
    color: #7e54a3;
}

.bg-green {
    background-color: #cadf57;
}

.bg-orange {
    background-color: #f6ad00;
}

.btn-dark-green {
    background-color: #356F1A;
    border-color: #356F1A;
    color: #fff;

&:hover {
     background-color: #265012;
     border-color: #356F1A;
     color: #fff;
 }
}

.add-contact {
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #c4c5c6;
}
::-moz-placeholder { /* Firefox 19+ */
    color: #c4c5c6;
}
:-ms-input-placeholder { /* IE 10+ */
    color: #c4c5c6;
}
:-moz-placeholder { /* Firefox 18- */
    color: #c4c5c6;
}
}
.display{
    display: block !important;
}